/* GENERALNO ------------------------------------------------------*/
#main {  
    margin-top: 200px;
    margin-left: 100px;
}
.podnaslov { /* oblikuje podnaslove */
    margin-left: 50px;
    color: lightgray;
    font-family: sans-serif;
}
.besedilo { /* oblikuje besedilo */
    margin-left: 90px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body { /* oblikuje cel html dokument */
    margin-left: 0px;
    background-color: black;
    color: aliceblue;
}
/* GLAVA --------------------------------------------------------*/
site-header {
    margin: 0px;
}
.header-top { /* oblikuje zgornji del glave spletne strani */
    background-color: rgb(20, 20, 20);
    width: 100%; /* razširi glavo čez cel zaslon */
    position: fixed; /* fiksira glavo. kar pomeni, da se ta ne premika ko skrolamo */
    display: flex;
    justify-content: space-between; /*naredi, da je med elemti prostor, torej se njihovi robovi ne stikajo */
    /* padding: 10px 20px; */
    align-items: center; /*poravna elemente na sredino */
    margin-top: -200px; /* premakne glavo za 200px gor, ker je body namaknjen za 200px dol in glava je del bodyija */
}
.header-menu { /* oblikuje spodnji del glave (meni za izbiro) */
    margin-top: -100px; /* meni postavi pod zgornji del glave */
    position: fixed;
    width: 100%; /* raztegne meni čez cel zaslon */
    background-color: rgb(23, 23, 23);
    height: 25px; /* višina menija */
    justify-content: flex-start;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.HamburgerGumb { /* oblikuje gumb za odprtje seznama poglavij */
    width: 50px;
    height: 25px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 0;
}
.HamburgerGumb span {
    display: block;
    height: 5px;
    width: 100%;
    background: darkred;
    border-radius: 10px;
}
.GumbTeme {
    background: none;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-right: 3px solid peru;
    border-top: 3px solid peru;
    border-bottom: 3px solid peru;
    border-left: 3px solid peru;
    font-size: 21px;
    color: peru;
    border-radius: 10px;
}
.GumbTeme.active {
    background-color: rgb(41, 41, 41);
}
#naslov {
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-size: 37px;
    color: white;
    text-decoration: underline;
}
#Teme {
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}
#GimnazijaLogo {
    width: 90px;
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#GiantsLogo {
    width: 250px;
    margin-left: 30px;
}
/* STRANSKI MENI -------------------------------------------------------------------*/
#sidebar {
    position: fixed;
    top: 165px;      
    left: -290px;    /* skrito zunaj zaslona */
    width: 200px;
    background-color: rgba(40, 40, 40, 0.8);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5px;
    bottom: 20px;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    border: 5px solid peru;
}
#sidebar.open {
    left: 20px;
    bottom: 20px;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    border: 5px solid peru;
}
.poglavje {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background: none;
    border: 2px solid peru;
    color: peru;
    padding: 10px;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
}
#Poglavja {
    margin-right: 50px;
    display: flex;
    padding-left: 20px;
}

/* NOGA ---------------------------------------------------------- */

footer {
    padding-left: 100px;
    background-color: rgb(40, 40, 40);  
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    color: peru; 
    font-weight: bold;
    width: 100%;
    
}
#linkGiants:link {
    color: orange;
}
#linkGiants:visited {
    color: green;
}
